.apresentacao {
  background: url("../../../img/home/apresentacao_bg.jpg") no-repeat center / cover;
  height: calc(100vh - 15rem);
  color: #fff;
  text-align: center;
  padding-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.apresentacao__titulo {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 2.75rem;
}

.apresentacao__texto {
  width: 700px;
  font-size: 25px;
  margin-bottom: 2.25rem;
}

.apresentacao__link {
  color: #fff;
  border-color: #fff;
}

.apresentacao__link:hover,
.apresentacao__link:focus {
  background-color: #fff;
  color: var(--cor_fonte);
}
