.apresentacao {
  background: url("../../../img/home/apresentacao_bg.jpg") no-repeat center /
    cover;
  height: calc(100vh - 15rem);
  color: #fff;
  text-align: center;
  padding-top: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.apresentacao__titulo {
  font-size: 60px;
  text-transform: uppercase;
  margin-bottom: 2.75rem;
}

.apresentacao__texto {
  width: 700px;
  font-size: 25px;
  margin-bottom: 2.25rem;
}

.apresentacao__link {
  color: #fff;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
}

.apresentacao__link:hover,
.apresentacao__link:focus {
  background-color: #fff;
  color: var(--cor_fonte);
}

/* telas até 700px */
@media screen and (max-width: 700px) {
  .apresentacao {
    padding-top: 15rem;
  }

  .apresentacao__titulo {
    font-size: 45px;
  }

  .apresentacao__texto {
    width: auto;
    font-size: 20px;
  }
}

/* telas até 1000px */
@media screen
and (min-width: 701px)
and (max-width: 1000px) {
  .apresentacao {
    padding-top: 13.75rem;
  }

  .apresentacao__titulo {
    font-size: 50;
  }

  .apresentacao__texto {
    width: 620px;
    font-size: 22px;
  }
}
