.contato {
  background-color: var(--fundo_cinza_medio);
  text-align: center;
}

.contato__form__descricao {
  margin-bottom: 1.8rem;
}

.contato__descricao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2.75rem;
  font-size: 18px;
}

/* telas até 700px */
@media screen and (max-width: 700px) {
  .contato__descricao {
    font-size: 17px;
  }
}
