.header {
	position: absolute;
	color: #fff;
	width: 100%;
	box-sizing: border-box;
}

.nav__link--profile {
	background-image: url("../../../img/icons/profile-white.svg");
}

.btnLog {
	color: #fff;
	border-color: #fff;
	background-color: rgba(0, 0, 0, 0.35);
}

.btnLog:hover,
.btnLog:focus {
	background-color: #fff;
	color: var(--cor_fonte);
}
