.ods__img {
	content: url("../../../img/home/grid_ods_invertido.webp");
	max-width: calc(100vw - 10%);
	max-height: 650px;
	margin: 1rem auto;
}

.ods__conteudo {
	background-color: var(--fundo_branco);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 3.5rem 5%;
}

.ods__conteudo__img {
	content: url("../../../img/home/mandala_5p.webp");
	max-height: 475px;
}

.ods__descricao {
	max-width: 700px;
	padding: 2rem;
}

.ods__texto {
	margin: 1rem;
}

/* telas até 700px */
@media screen and (max-width: 700px) {
	.ods__img {
		content: url("../../../img/home/grid_ods_invertido_mobile.webp");
		margin: 0 auto;
	}

	.ods__conteudo {
		flex-direction: column;
		padding: 0 5% 3.5rem;
	}

	.ods__descricao {
		align-items: initial;
		padding: initial;
	}

	.ods__texto {
		width: auto;
	}

	.ods__conteudo__img {
		order: 1;
		max-width: calc(100vw - 10%);
		margin: 0 auto;
	}
}

/* telas até 1000px */
@media screen and (min-width: 701px) and (max-width: 1000px) {
	.ods__img {
		content: url("../../../img/home/grid_ods_invertido_mobile.webp");
		margin: 0 auto;
	}

	.ods__conteudo {
		flex-direction: column;
		padding: 0 5% 3.5rem;
	}

	.ods__conteudo__img {
		order: 1;
	}
}
