/* 
  grid container: { .projeto }

  grid itens: {
    .projeto__botoes,
    .projeto__midias,
    .projeto__info, 
    .projeto__resumo,
    .projeto__ods
  }
*/

/* Definindo container e áreas: */
.projeto {
  background-color: var(--fundo_prata);
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "btn btn"
    "midias info"
    "resumo ods"
  ;
  gap: 2rem;
}

.botoes_controle {
  grid-area: btn;
}

.projeto__midias {
  grid-area: midias;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projeto__info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projeto__resumo {
  grid-area: resumo;
}

.projeto__ods {
  grid-area: ods;
}

/* Estilização: */

.projeto__botoes_controle {
  display: flex;
  gap: 1rem;
}

.display__midia__link,
.galeria__item {
  position: relative;
}

.projeto__midia,
.galeria__view {
  float: left;
  object-fit: cover;
}

.projeto__midia {
  width: 100%;
  height: 25rem;
}

.projeto__display__galeria {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  padding: 5px;
}

.galeria__item {
  height: 4.5rem;
  width: calc(100% / 6);
  cursor: pointer;
}

.galeria__view {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cinza_escuro);
  border-radius: 5px;
}

.galeria__view--video {
  opacity: 80%;
}

.display__img__icon,
.galeria__view__icon {
  opacity: 0%;
}

.display__img__icon,
.galeria__view__icon,
.galeria__view__icon--video {
  position: absolute;
}

.display__img__icon {
  width: 85px;
  height: 85px;
  top: 40%;
  left: 45%;
}

.galeria__view__icon,
.galeria__view__icon--video {
  width: 50px;
  height: 50px;
  top: 17%;
  left: 32%;
}

.display__midia__link:hover .projeto__midia,
.galeria__item:hover .galeria__view {
  transition: 0.3s ease-out;
  opacity: 65%;
}

.display__midia__link:hover .display__img__icon,
.galeria__item:hover .galeria__view__icon {
  transition: 0.25s;
  opacity: 100%;
}

.projeto__titulo {
  align-self: start;
  text-align: start;
  margin-bottom: 1.3rem;
}

.projeto__cidade {
  margin-bottom: 1rem;
}

.projeto__atributo {
  font-family: var(--fonte_titulo);
  font-weight: 500;
  font-size: 1.45rem;
  margin-bottom: 0.45rem;
}

.projeto__ods__lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.projeto__ods__img {
  width: 135px;
  height: 135px;
}

/* ajustando imagem do  projeto em telas até 700px */
@media screen and (max-width: 700px) {
  .projeto__midia {
    height: 15rem;
  }
}

/* ajustando imagem do  projeto em telas até 1000px */
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .projeto__midia {
    height: 20rem;
  }

  .display__img__icon {
    top: 42%;
    left: 47%;
  }

  .galeria__view__icon .galeria__view__icon--video {
    top: 30%;
    left: 40%;
  }
}

/* Telas até 1000px */
@media screen and (max-width: 1000px) {
  .projeto {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "btn"
      "midias"
      "info"
      "resumo"
      "ods"
    ;
  }

  .projeto__botoes_controle {
    gap: 0.45rem;
  }

  .galeria__item {
    height: 3.5rem;
  }

  .display__img__icon {
    width: 50px;
    height: 50px;
  }

  .galeria__view__icon,
  .galeria__view__icon--video {
    width: 30px;
    height: 30px;
    top: 25%;
    left: 25%;
  }

  .projeto__titulo,
  .projeto__cidade {
    align-self: center;
    text-align: center;
    margin-bottom: 0.25rem;
  }

  .projeto__ods__img {
    width: 110px;
    height: 110px;
  }
}

/* telas até 1000px:
corrigindo posição dos botões da galeria */
@media screen
and (min-width: 701px)
and (max-width: 1000px) {
  .galeria__view__icon,
  .galeria__view__icon--video {
    top: 27%;
    left: 37%;
  }
}