.projeto {
  background-color: var(--fundo_prata);
}

.projeto,
.projeto__div__texto {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.projeto__div__texto,
.projeto__img {
  width: calc(50vw - 7.5%);
  max-width: 750px;
}

.projeto__div--1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projeto__titulo {
  align-self: flex-start;
  margin-bottom: 1.5rem;
}

.projeto__cidade {
  margin-bottom: 1rem;
}

.projeto__atributo {
  font-family: var(--fonte_titulo);
  font-weight: 500;
  font-size: 1.45rem;
  margin-bottom: 0.45rem;
}

.projeto__div--2 {
  display: flex;
  align-items: start;
  gap: 5%;
}

.projeto__parceiros {
  width: 617px;
}

.projeto__parceiros__item {
  margin-bottom: 0.35rem;
}

.projeto__ods__lista {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.projeto__ods__img {
  width: 125px;
  height: 125px;
}

.line__div {
  height: 150px;
  width: 0;
  border: 1px solid #000;
  align-self: center;
}

/* telas até 1000px */
@media screen
and (max-width: 1000px) {
  .projeto__div--1,
  .projeto__div--2 {
    flex-direction: column;
  }

  .projeto__div--1 {
    align-items: center;
  }

  .projeto__div__texto {
    width: 100%;
  }

  .projeto__titulo,
  .projeto__cidade {
    align-self: center;
  }

  .projeto__titulo {
    margin: 2rem 0 0;
  }

  .projeto__atributo {
    font-size: 1.3rem;
  }

  .projeto__resumo {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .projeto__img {
    width: 100vw;
    box-sizing: border-box;
    align-self: center;
  }

  .projeto__div--2 {
    gap: 0.45rem;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .projeto__ods__img {
    width: calc(75vw / 2);
    height: auto;
    max-width: 120px;
  }

  .projeto__parceiros {
    width: 100%;
  }

  .line__div {
    display: none;
  }
}
