<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Página de cadastro de projeto no Programa Somar.">

  <title>Cadastre um projeto | Programa Somar</title>

  <link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="../css/base.css">
  <!-- Components CSS -->
  <link rel="stylesheet" href="../css/components/nav.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <!-- Sections CSS -->
  <link rel="stylesheet" href="../css/views/form_projeto/form_projeto.css">
</head>

<body>
  <a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->

  <header id="dynamic_header" class="container header"></header>
  <!-- Fim cabeçalho -->

  <main>
    <section id="main" class="cadastro_projeto container">
      <div class="botoes_controle">
        <button type="button" title="Voltar à página de projetos" class="btnVoltar btn btnSecundario btnNav">Voltar</a>
      </div>

      <h1 class="titulo">Cadastro de projeto</h1>

      <form action="" enctype="multipart/form-data" class="cadastro_projeto__form form">
        <!-- Nome -->
        <fieldset class="form__fieldset--texto">
          <input type="text" id="cadastro_projeto__nome" class="form__input form__texto" name="nome"
            placeholder="Digite o nome do projeto" data-tipo="nome" minlength="3" maxlength="75" required>

          <label for="cadastro_projeto__nome" class="form__label">Nome do projeto</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- Causa -->
        <fieldset class="form__fieldset--texto">
          <input type="text" id="cadastro_projeto__causa" class="form__input form__texto" name="causa"
            placeholder="Digite a causa do projeto" data-tipo="causa" minlength="3" maxlength="75" required>

          <label for="cadastro_projeto__causa" class="form__label">Causa de atuação</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- Objetivo -->
        <fieldset class="form__fieldset--texto">
          <input type="text" id="cadastro_projeto__objetivo" class="form__input form__texto" name="objetivo"
            placeholder="Digite o objetivo do projeto" data-tipo="objetivo" minlength="10" maxlength="125" required>

          <label for="cadastro_projeto__objetivo" class="form__label">Objetivo</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- Público-alvo -->
        <fieldset class="form__fieldset--texto">
          <input type="text" id="cadastro_projeto__publico" class="form__input form__texto" name="publico"
            placeholder="Digite o público-alvo do projeto" data-tipo="publico" minlength="3" maxlength="75" required>

          <label for="cadastro_projeto__publico" class="form__label">Público-alvo</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- Cidade -->
        <fieldset class="form__fieldset--texto">
          <input type="text" id="cadastro_projeto__cidade" class="form__input form__texto" name="cidade"
            placeholder="Digite a cidade do projeto" data-tipo="cidade" minlength="3" maxlength="50" required>

          <label for="cadastro_projeto__cidade" class="form__label">Cidade - UF</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- Parceiros -->
        <fieldset class="form__fieldset--texto">
          <input type="text" id="cadastro_projeto__parceiros" class="form__input form__texto" name="parceiros"
            placeholder="Digite os parceiros do projeto" title="Para inserir vários parceiros, separe-os por vírgula"
            data-tipo="parceiros" maxlength="255">

          <label for="cadastro_projeto__parceiros" class="form__label">Parceiros</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- ODS -->
        <fieldset class="form__fieldset--checkbox">
          <legend class="form__fieldset__legend">Objetivos de Desenvolvimento Sustentável</legend>

          <ul class="form__lista_ods"></ul> <!-- ODS inseridos dinamicamente via JS -->
        </fieldset>

        <!-- Resumo -->
        <fieldset class="form__fieldset--texto form__fieldset--resumo">
          <textarea name="resumo" id="cadastro_projeto__resumo" class="form__textarea form__texto" cols="30" rows="10"
            placeholder="Digite um resumo do projeto" data-tipo="resumo" minlength="10" maxlength="475"
            required></textarea>

          <label for="cadastro_projeto__resumo" class="form__label">Resumo</label>
          <span class="form__fieldset__msg"></span>
        </fieldset>

        <!-- Mídias -->
        <fieldset class="form__fieldset--file">
          <legend class="form__fieldset__legend">Mídias</legend>

          <div class="cadastro_projeto__midia__div">
            <input type="file" name="midia" id="cadastro_projeto__imagem--1"
              class="input--imagem cadastro_projeto__midia hidden"
              accept="image/avif,image/jpeg,image/png,image/svg+xml,image/webp">

            <label for="cadastro_projeto__imagem--1" class="form__label--file btn btnSecundario">Imagem 01</label>
            <span class="cadastro_projeto__midia-info"></span>
            <button class="btnRemoverMidia btnRemoverMidia--hidden" type="button">Remover imagem</button>
          </div>

          <div class="cadastro_projeto__midia__div">
            <input type="file" name="midia" id="cadastro_projeto__imagem--2"
              class="input--imagem cadastro_projeto__midia hidden"
              accept="image/avif,image/jpeg,image/png,image/svg+xml,image/webp">

            <label for="cadastro_projeto__imagem--2" class="form__label--file btn btnSecundario">Imagem 02</label>
            <span class="cadastro_projeto__midia-info"></span>
            <button class="btnRemoverMidia btnRemoverMidia--hidden" type="button">Remover imagem</button>
          </div>

          <div class="cadastro_projeto__midia__div">
            <input type="file" name="midia" id="cadastro_projeto__imagem--3"
              class="input--imagem cadastro_projeto__midia hidden"
              accept="image/avif,image/jpeg,image/png,image/svg+xml,image/webp">

            <label for="cadastro_projeto__imagem--3" class="form__label--file btn btnSecundario">Imagem 03</label>
            <span class="cadastro_projeto__midia-info"></span>
            <button class="btnRemoverMidia btnRemoverMidia--hidden" type="button">Remover imagem</button>
          </div>

          <div class="cadastro_projeto__midia__div">
            <input type="file" name="midia" id="cadastro_projeto__imagem--4"
              class="input--imagem cadastro_projeto__midia hidden"
              accept="image/avif,image/jpeg,image/png,image/svg+xml,image/webp">

            <label for="cadastro_projeto__imagem--4" class="form__label--file btn btnSecundario">Imagem 04</label>
            <span class="cadastro_projeto__midia-info"></span>
            <button class="btnRemoverMidia btnRemoverMidia--hidden" type="button">Remover imagem</button>
          </div>

          <div class="cadastro_projeto__midia__div">
            <input type="file" name="midia" id="cadastro_projeto__imagem--5"
              class="input--imagem cadastro_projeto__midia hidden"
              accept="image/avif,image/jpeg,image/png,image/svg+xml,image/webp">

            <label for="cadastro_projeto__imagem--5" class="form__label--file btn btnSecundario">Imagem 05</label>
            <span class="cadastro_projeto__midia-info"></span>
            <button class="btnRemoverMidia btnRemoverMidia--hidden" type="button">Remover imagem</button>
          </div>

          <div class="cadastro_projeto__midia__div">
            <input type="file" name="midia" id="cadastro_projeto__video--1"
              class="input--video cadastro_projeto__midia hidden"
              accept="video/x-msvideo,video/mp4,video/mpeg,video/ogg,video/mp2t,video/webm,video/3gpp,video/3gpp2">

            <label for="cadastro_projeto__video--1" class="form__label--file btn btnSecundario">Vídeo</label>
            <span class="cadastro_projeto__midia-info"></span>
            <button class="btnRemoverMidia btnRemoverMidia--hidden" type="button">Remover vídeo</button>
          </div>
        </fieldset>

        <fieldset class="form__fieldset--btn">
          <button type="submit" id="cadastro_projeto__btnCadastro" class="btn btnPadrao">Cadastrar projeto</button>
          <button type="button" id="cadastro_projeto__btnCancelar" class="btn btnCancelar">Cancelar</button>
        </fieldset>
      </form>
    </section>
    <!-- Fim cadastro de projeto -->
  </main>
  <!-- Fim conteúdo principal -->

  <footer id="dynamic_footer" class="container footer"></footer>
  <!-- Fim footer -->
</body>

<script src="../js/index.js" type="module"></script>
<script src="../js/validaInputs.js" type="module"></script>
<script src="../js/views/formProjeto.js" type="module"></script>

</html>