<!doctype html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Página de cadastro de usuário na plataforma Somar - Ajuda RS.">

	<title>Cadastre-se | Ajuda RS</title>

	<link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
	<link rel="stylesheet" href="../css/base.css">
	<!-- Components CSS -->
	<link rel="stylesheet" href="../css/components/nav.css">
	<link rel="stylesheet" href="../css/components/button.css">
	<link rel="stylesheet" href="../css/components/header.css">
	<link rel="stylesheet" href="../css/components/footer.css">
	<link rel="stylesheet" href="../css/components/form.css">
	<!-- Sections CSS -->
	<link rel="stylesheet" href="../css/views/form_usuario/form_usuario.css">
</head>

<body>
	<a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->

	<header id="dynamic_header" class="container header"></header>
	<!-- Fim cabeçalho -->

	<main>
		<section class="cadastro_usuario container">
			<div class="botoes_controle">
				<button type="button" title="Voltar à página de login" class="btnVoltar btn btnSecundario btnNav">Voltar</a>
			</div>

			<h1 id="main" class="titulo titulo--form">Cadastro de usuário</h1>

			<form action="" class="cadastro_usuario__form form">
				<legend class="form__descricao">Os campos obrigatórios estão marcados com asterisco<strong
						class="legend-asterisco">*</strong></legend>

				<!-- Nome -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__nome" class="form__input form__texto" name="nome"
						placeholder="Digite seu nome completo" data-tipo="nome" minlength="3" maxlength="75" required
						autocomplete="name">

					<label for="cadastro_usuario__nome" class="form__label form__label--required">Nome completo</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Email -->
				<fieldset class="form__fieldset--texto">
					<input type="email" id="cadastro_usuario__email" class="form__input form__texto" name="email"
						placeholder="Digite seu email" data-tipo="email" maxlength="50" required autocomplete="email"
						pattern="^\w+([\.\-]?\w+)*@\w+([\.\-]?\w+)*(\.\w{2,3})+$">

					<label for="cadastro_usuario__email" class="form__label form__label--required">Email</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Nome de usuário -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__usuario" class="form__input form__texto" name="usuario"
						placeholder="Digite um nome de usuário" title="Apenas letras, números, hífen e undeline" data-tipo="usuario"
						minlength="3" maxlength="20" required autocomplete="username" pattern="^[\w\-]*$">

					<label for="cadastro_usuario__usuario" class="form__label form__label--required">Nome de usuário</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Telefone -->
				<fieldset class="form__fieldset--texto">
					<input type="tel" id="cadastro_usuario__telefone" class="form__input form__texto" name="telefone"
						placeholder="Digite seu telefone" title="Insira DDD e número de telefone" data-tipo="telefone"
						minlength="10" maxlength="25" required autocomplete="tel"
						pattern="^[(]?(?:[14689][1-9]|2[12478]|3[1234578]|5[1345]|7[134579])[)]? ?(?:[2-8]|9 ?[1-9])[0-9]{3}[\- ]?[0-9]{4}$">

					<label for="cadastro_usuario__telefone" class="form__label form__label--required">Telefone</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Senha -->
				<fieldset class="form__fieldset--texto">
					<input type="password" id="cadastro_usuario__senha" class="form__input form__texto" name="senha"
						placeholder="Digite uma senha"
						title="Pelo menos 8 caracteres, uma letra maiúscula, uma minúscula, um número e um caractere especial"
						data-tipo="senha" minlength="8" maxlength="50" required autocomplete="new-password"
						pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%&*\(\)_+\-=\{\[\}\]:;>.<,?\/\|\\])[A-Za-z\d!@#$%&*\(\)_+\-=\{\[\}\]:;>.<,?\/\|\\]{8,}$">

					<label for="cadastro_usuario__senha" class="form__label form__label--required" id="label-senha">Senha</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Cep -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__cep" class="form__input form__texto" name="cep"
						placeholder="Digite seu CEP" data-tipo="cep" maxlength="9" required autocomplete="postal-code"
						pattern="^[\d]{5}-?[\d]{3}$">

					<label for="cadastro_usuario__cep" class="form__label form__label--required">CEP</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Logradouro -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__logradouro" class="form__input form__texto" name="logradouro"
						placeholder="Endereço" data-tipo="logradouro" minlength="5" maxlength="100" required
						autocomplete="address-line1">

					<label for="cadastro_usuario__logradouro" class="form__label form__label--required">Endereço</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Bairro -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__bairro" class="form__input form__texto" name="bairro"
						placeholder="Bairro" data-tipo="bairro" minlength="3" maxlength="50" required autocomplete="address-level3">

					<label for="cadastro_usuario__bairro" class="form__label form__label--required">Bairro</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Número -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__numero" class="form__input form__texto" name="numero"
						placeholder="Digite o número do endereço" data-tipo="numero" maxlength="10" autocomplete="address-line2">

					<label for="cadastro_usuario__numero" class="form__label">Número</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Complemento -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__complemento" class="form__input form__texto" name="complemento"
						placeholder="Digite o complemento do endereço" data-tipo="complemento" maxlength="50"
						autocomplete="address-line3">

					<label for="cadastro_usuario__complemento" class="form__label">Complemento</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- Cidade -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__cidade" class="form__input form__texto" name="cidade"
						placeholder="Cidade" data-tipo="cidade" minlength="3" maxlength="50" required autocomplete="address-level2">

					<label for="cadastro_usuario__cidade" class="form__label form__label--required">Cidade</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<!-- UF -->
				<fieldset class="form__fieldset--texto">
					<input type="text" id="cadastro_usuario__uf" class="form__input form__texto" name="uf" placeholder="UF"
						data-tipo="uf" minlength="2" maxlength="2" required autocomplete="address-level1">

					<label for="cadastro_usuario__uf" class="form__label form__label--required">UF</label>
					<span class="form__fieldset__msg"></span>
				</fieldset>

				<fieldset class="form__fieldset--btn">
					<button type="submit" id="cadastro_usuario__btnCadastro" class="btn btnPadrao">Fazer cadastro</button>
					<button type="button" id="cadastro_usuario__btnCancelar" class="btn btnCancelar">Cancelar</button>
				</fieldset>
			</form>
		</section>
	</main>
	<!-- Fim conteúdo principal -->

	<footer id="dynamic_footer" class="container footer"></footer>
	<!-- Fim footer -->
</body>

<script src="../js/index.js" type="module"></script>
<script src="../js/validaInputs.js" type="module"></script>
<script src="../js/views/formUsuario.js" type="module"></script>

</html>
