<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Página de login da plataforma - Programa Somar.">

  <title>Login | Programa Somar</title>

  <link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="../css/base.css">
  <!-- Components CSS -->
  <link rel="stylesheet" href="../css/components/logo.css">
  <link rel="stylesheet" href="../css/components/nav.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <!-- Sections CSS -->
  <link rel="stylesheet" href="../css/views/login/login.css">
</head>

<body>
  <a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->
  
  <header id="dynamic_header" class="container header"></header>
  <!-- Fim cabeçalho -->

  <main>
    <section id="main" class="login container">
      <h1 class="login__titulo titulo">Login</h1>

      <form action="" class="login__form form">
        <fieldset class="form__fieldset--texto">
          <input type="text" id="login__usuario" class="form__input form__texto" name="usuario" placeholder="Nome de usuário ou email" required>
          <label for="login__usuario" class="form__label">Usuário</label>
        </fieldset>

        <fieldset class="form__fieldset--texto">
          <input type="password" id="login__senha" class="form__input form__texto" name="senha" placeholder="Digite sua senha" required>
          <label for="login__senha" class="form__label">Senha</label>
        </fieldset>

        <fieldset class="form__fieldset--btn">
          <button type="submit" id="login__btnLogin" class="btn btnPadrao">Entrar</button>
          <p class="form__descricao">Não tem uma conta? <a href="cadastro_usuario.html" class="link" title="Cadastre-se | Programa Somar"><strong class="texto--destaque">Cadastre-se!</strong></a></p>
        </fieldset>
      </form>
    </section>
  </main>
  <!-- Fim conteúdo principal -->

  <footer id="dynamic_footer" class="container footer"></footer>
  <!-- Fim footer -->
</body>

<script src="../js/insertHeaderAndFooter.js"></script>
<script src="../js/views/login.js" type="module"></script>

</html>
