<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Página de projeto. Conheça mais sobre os projetos do Programa Somar!">

  <title>Página de usuário | Programa Somar</title>

  <link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="../css/base.css">
  <!-- Components CSS -->
  <link rel="stylesheet" href="../css/components/nav.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <!-- Sections CSS -->
  <link rel="stylesheet" href="../css/views/perfil/perfil.css">
  <link rel="stylesheet" href="../css/views/projetos/busca.css">

</head>

<body>
  <a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->

  <header id="dynamic_header" class="container header"></header>
  <!-- Fim cabeçalho -->

  <main>
    <section class="usuario container">
      <div class="botoes_controle">
        <a href="index.html" title="Voltar à página de inicial" class="btnVoltar btn btnSecundario btnNav">Voltar</a>

        <div class="usuario__botoes_controle"></div>
      </div>

      <h1 class="titulo" id="main">Suas informações</h1>

      <div class="usuario__grid_container">
        <div class="usuario__nome usuario__info">
          <h3 class="usuario__subtitulo">Nome completo</h3>
          <p class="usuario__texto" id="usuario__nome"></p>
        </div>

        <div class="usuario__username usuario__info">
          <h3 class="usuario__subtitulo">Nome de usuário</h3>
          <p class="usuario__texto" id="usuario__username"></p>
        </div>

        <div class="usuario__email usuario__info">
          <h3 class="usuario__subtitulo">E-mail</h3>
          <p class="usuario__texto" id="usuario__email"></p>
        </div>

        <div class="usuario__telefone usuario__info">
          <h3 class="usuario__subtitulo">Telefone</h3>
          <p class="usuario__texto" id="usuario__telefone"></p>
        </div>

        <div class="usuario__cep usuario__info">
          <h3 class="usuario__subtitulo">CEP</h3>
          <p class="usuario__texto" id="usuario__cep"></p>
        </div>

        <div class="usuario__endereco usuario__info">
          <h3 class="usuario__subtitulo">Endereço</h3>
          <p class="usuario__texto" id="usuario__endereco"></p>
        </div>

        <div class="usuario__bairro usuario__info">
          <h3 class="usuario__subtitulo">Bairro</h3>
          <p class="usuario__texto" id="usuario__bairro"></p>
        </div>

        <div class="usuario__cidade usuario__info">
          <h3 class="usuario__subtitulo">Cidade</h3>
          <p class="usuario__texto" id="usuario__cidade"></p>
        </div>
      </div>
    </section>
    <!-- Fim Usuário -->

    <section id="projetos" class="usuario__projetos container">
      <h2 class="titulo">Seus projetos</h2>

      <p class="busca__msg"></p>
      <ul class="busca__lista"></ul>
    </section>
  </main>
  <!-- Fim conteúdo principal -->

  <footer id="dynamic_footer" class="container footer"></footer>
  <!-- Fim footer -->

  <a href="#" class="scrollTop hidden" title="Voltar ao topo"></a> <!-- Link voltar ao topo -->
</body>

<script src="../js/index.js" type="module"></script>
<script src="../js/scrollTop.js"></script>
<script src="../js/views/perfil.js" type="module"></script>

</html>