<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Página de projeto. Conheça mais sobre os projetos do Programa Somar!">

  <title>Projetos | Programa Somar</title>

  <link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="../css/base.css">
  <!-- Components CSS -->
  <link rel="stylesheet" href="../css/components/nav.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <!-- Sections CSS -->
  <link rel="stylesheet" href="../css/views/projeto/projeto.css">
</head>

<body>
  <a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->

  <header id="dynamic_header" class="container header"></header>
  <!-- Fim cabeçalho -->

  <main>
    <section id="main" class="projeto container">
      <div class="projeto__div--1">
        <img src="../../outros/un_headquarters.jpg" alt class="projeto__img img">

        <div class="projeto__div__texto">
          <h2 class="projeto__titulo titulo" id="projeto__titulo">Projeto XYZ</h2>
          <h3 class="projeto__cidade subtitulo" id="projeto__cidade">Cidade - UF</h3>

          <div class="projeto__causa">
            <h4 class="projeto__atributo">Causa de Atuação</h4>
            <p class="projeto__texto" id="projeto__causa">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Curabitur eu ex tortor. Donec non leo nibh. Phasellus ultricies sodales felis sit amet bibendum.
              In suscipit vitae magna in euismod, vivamus sed posuere nisi.
            </p>
          </div>

          <div class="projeto__objetivo">
            <h4 class="projeto__atributo">Objetivo</h4>
            <p class="projeto__texto" id="projeto__objetivo">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aliquam iaculis orci id dui ultrices vulputate. Sed vel tincidunt sem.
              Donec mauris elit, pulvinar ac rutrum at, pharetra eu metus.
            </p>
          </div>
        </div>
      </div>


      <div class="projeto__resumo">
        <h4 class="projeto__atributo">Resumo</h4>
        <p class="projeto__texto" id="projeto__resumo">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Suspendisse elementum elementum urna, sed ullamcorper odio sollicitudin eget. Duis rhoncus accumsan gravida.
          Quisque ac pretium nisl. Aliquam elementum tellus eget elit eleifend, sit amet tempus justo rutrum.
          Curabitur ornare condimentum dui non aliquam. Nulla ut augue in sapien volutpat rhoncus.
          Curabitur sit amet sagittis urna, eget luctus quam. Vestibulum consectetur nunc leo, vitae feugiat dolor congue efficitur.
          Morbi vel metus et eros convallis scelerisque id ut arcu. Vestibulum ipsum tellus, sollicitudin eget orci molestie,
          malesuada fermentum purus. Curabitur nisl libero, egestas eget sagittis, lacinia eget metus. Morbi ultricies risus mi.
          Nunc ac leo sapien. Aenean blandit magna mi, quis dignissim massa iaculis at. Maecenas sed eros dui. Etiam feugiat nisl tortor,
          quis semper justo ornare sit amet.
        </p>
      </div>

      <div class="projeto__div--2">
        <div class="projeto__parceiros">
          <h4 class="projeto__atributo">Parceiros</h4>
          <ul class="projeto__parceiros__lista" id="projeto__parceiros">
            <li class="projeto__parceiros__item">Maecenas vitae tellus ac arcu fringilla vestibulum.</li>
            <li class="projeto__parceiros__item">Quisque ac nisl in risus tempus consequat sed a nibh.</li>
            <li class="projeto__parceiros__item">Aenean tempus urna pharetra leo gravida luctus.</li>
          </ul>
        </div>

        <div class="line__div"></div>

        <div class="projeto__ods">
          <h4 class="projeto__atributo">ODS Relacionados</h4>
          <ul class="projeto__ods__lista" id="projeto__ods">
            <li class="projeto__ods__item">
              <img src="../img/ods/ods_1.svg" alt="" class="projeto__ods__img img">
            </li>
            <li class="projeto__ods__item">
              <img src="../img/ods/ods_4.svg" alt="" class="projeto__ods__img img">
            </li>
            <li class="projeto__ods__item">
              <img src="../img/ods/ods_10.svg" alt="" class="projeto__ods__img img">
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Fim projeto -->
  </main>
  <!-- Fim conteúdo principal -->

  <footer id="dynamic_footer" class="container footer"></footer>
  <!-- Fim footer -->
</body>

<script src="../js/index.js" type="module"></script>
<script src="../js/views/projeto.js" type="module"></script>

</html>
