<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Conheça nossos projetos! Você também pode cadastrar um projeto na nossa plataforma.">

  <title>Projetos | Ajuda RS</title>

  <link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="../css/base.css">
  <!-- Components CSS -->
  <link rel="stylesheet" href="../css/components/nav.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <!-- Sections CSS -->
  <link rel="stylesheet" href="../css/views/projetos/projetos.css">
  <link rel="stylesheet" href="../css/views/projetos/busca.css">
</head>

<body>
  <a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->

  <header id="dynamic_header" class="container header"></header>
  <!-- Fim cabeçalho -->

  <main>
    <section id="main" class="projetos container">
      <h1 class="titulo">Projetos</h1>

      <p class="projetos__descricao">Clique em um dos Objetivos de Desenvolvimento Sustentável abaixo para ver os
        projetos relacionados. Você também pode
        <a href="form_projeto.html" class="link" title="Cadastre um projeto | Ajuda RS">
          <strong class="texto--destaque">cadastrar um projeto!</strong>
        </a>
      </p>

      <ul class="projetos__lista_ods"></ul>

      <div class="projetos__logo_ods"></div>
    </section>
    <!-- Fim projetos -->

    <section id="busca" class="projetos__busca container">
      <form action="" class="busca__form form">
        <fieldset class="form__fieldset--texto">
          <input type="search" id="busca__input" class="form__input form__texto" name="busca"
            placeholder="Digite aqui para buscar projetos" incremental>
          <label for="busca__input" class="form__label">Busca</label>
        </fieldset>

        <fieldset class="form__fieldset--select">
          <legend class="form__fieldset__legend">Filtro</legend>

          <label for="busca__filtro" class="hidden">Escolha um filtro</label>
          <select name="busca__filtro" id="busca__filtro" class="form__select">
            <option value="sdg">ODS</option>
            <option value="name" selected>Nome</option>
            <option value="city">Cidade</option>
            <option value="cause">Causa de atuação</option>
            <option value="target">Público-alvo</option>
          </select>
        </fieldset>
      </form>

      <p class="busca__msg"></p>
      <ul class="busca__lista"></ul>
    </section>
    <!-- Fim busca -->
  </main>
  <!-- Fim conteúdo principal -->

  <footer id="dynamic_footer" class="container footer"></footer>
  <!-- Fim footer -->

  <a href="#" class="scrollTop hidden" title="Voltar ao topo"></a> <!-- Link voltar ao topo -->
</body>

<script src="../js/index.js" type="module"></script>
<script src="../js/scrollTop.js"></script>
<script src="../js/views/projetos.js" type="module"></script>

</html>
