<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Conheça nossos projetos! Você também pode cadastrar um projeto na nossa plataforma.">

  <title>Projetos | Programa Somar</title>

  <link rel="icon" href="../img/logos/logo_cores_ods.svg" type="image/svg+xml">
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap">
  <link rel="stylesheet" href="../css/base.css">
  <!-- Components CSS -->
  <link rel="stylesheet" href="../css/components/logo.css">
  <link rel="stylesheet" href="../css/components/nav.css">
  <link rel="stylesheet" href="../css/components/button.css">
  <link rel="stylesheet" href="../css/components/header.css">
  <link rel="stylesheet" href="../css/components/footer.css">
  <link rel="stylesheet" href="../css/components/form.css">
  <!-- Sections CSS -->
  <link rel="stylesheet" href="../css/views/projetos/projetos.css">
</head>

<body>
  <a href="#main" class="pularNavegacao">Pular para o conteúdo principal</a> <!-- Link acessível com TAB -->
  
  <header id="dynamic_header" class="container header"></header>
  <!-- Fim cabeçalho -->

  <main>
    <section id="main" class="projetos container">
      <h1 class="titulo">Projetos</h1>

      <p class="projetos__descricao">Clique em um dos Objetivos de Desenvolvimento Sustentável abaixo para ver os<br>projetos relacionados. Você também pode <a href="#" class="link" title="Cadastre um projeto | Programa Somar"><strong class="texto--destaque">cadastrar um projeto!</strong></a></p>

      <div class="projetos__lista_ods">
        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_1.svg" alt="1 - Erradicação da pobreza" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_2.svg" alt="2 - Fome zero e agricultura sustentável" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_3.svg" alt="3 - Saúde e bem-estar" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_4.svg" alt="4 - Educação de qualidade" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_5.svg" alt="5 - Igualdade de gênero" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_6.svg" alt="6 - Água potável e saneamento" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_7.svg" alt="7 - Energia limpa e acessível" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_8.svg" alt="8 - Trabalho decente e crescimento econômico" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_9.svg" alt="9 - Indústria, inovação e infraestrutura" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_10.svg" alt="10 - Redução das desigualdades" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_11.svg" alt="11 - Cidades e comunidades sustentáveis" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_12.svg" alt="12 - Consumo e produção responsáveis" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_13.svg" alt="13 - Ação contra a mudança global do clima" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_14.svg" alt="14 - Vida na água" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_15.svg" alt="15 - Vida terrestre" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_16.svg" alt="16 - Paz, justiça e instituições eficazes" class="lista_ods__img img">
        </a>

        <a href="#" class="lista_ods__link">
          <img src="../img/ods/ods_17.svg" alt="17 - Parcerias e meios de implementação" class="lista_ods__img img">
        </a>
      </div>

      <div class="projetos__logo_ods"></div>
    </section>
  </main>
  <!-- Fim conteúdo principal -->

  <footer id="dynamic_footer" class="container footer"></footer>
  <!-- Fim footer -->
</body>

<script src="../js/insertHeaderAndFooter.js"></script>

</html>
