.projetos__busca {
  background-color: var(--fundo_platina);
}

.busca__form {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.form__fieldset--texto {
  height: 70px;
  max-width: calc(100vw - 30%);
}

.busca__lista {
  display: grid;
  grid-template-columns: repeat(3, calc(85vw / 3));
  grid-template-rows: 525px;
  justify-content: center;
  align-items: start;
  gap: 2rem 1.75rem;
}

.busca__msg {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  margin-bottom: 1.75rem;
}

.projeto__link {
  display: flex;
  flex-direction: column;
  gap: 0.45rem;
  width: calc(85vw / 3);
  height: 525px;
  max-width: 450px;
  padding-bottom: 0.75rem;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  outline: 4px outset transparent;
  outline-offset: 3px;
  border-radius: 5px;
  box-shadow: 6px 7px 6px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-out;
}

.projeto__link:focus {
  outline-color: var(--azul);
}

.projeto__link:hover,
.projeto__link:focus {
  box-shadow: 8px 9px 4px rgba(0, 0, 0, 0.45);
  filter: brightness(95%);
}

.projeto__miniatura {
  float: left;
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.projeto__nome,
.projeto__atributo,
.projeto__texto {
  margin: 0 0.5rem;
  overflow: hidden;
}

.projeto__nome,
.projeto__cidade {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.projeto__atributo {
  font-size: 1.2rem;
  font-weight: 500;
}

/* telas até 700px */
@media screen and (max-width: 700px) {
  .busca__form {
    flex-wrap: wrap;
  }

  .busca__lista {
    grid-template-columns: 1fr;
  }

  .projeto__link {
    width: 85vw;
  }
}

/* telas até 1000px */
@media screen
and (min-width: 701px)
and (max-width: 1000px) {
  .busca__lista {
    grid-template-columns: repeat(2, calc(85vw / 2));
  }

  .projeto__link {
    width: calc(85vw / 2);
  }
}

/* telas maiores que 2300px */
@media screen and (min-width: 2300px) {
  .busca__lista {
    grid-template-columns: repeat(4, calc(85vw / 4));
  }

  .projeto__link {
    width: calc(85vw / 4);
  }
}
