:root {
  /* Fonte */
  --fonte_titulo: "Ubuntu", sans-serif;
  --fonte_texto: "Bitter", serif;
  --cor_fonte: #4c4c4c;

  /* Fundos */
  --fundo_prata: #e5e9f3;
  --fundo_platina: #eaeaea;
  --fundo_cinza_medio: #efefef;
  --fundo_cinza_claro: #f7f4f4;
  --fundo_branco: #f7f7f7;

  /* Cores */
  --azul: #009dda;
  --azul-escuro: #005eab;
  --cinza_escuro: #3e3e3e;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--fonte_texto);
  color: var(--cor_fonte);
  line-height: 1.5;
}

.container {
  padding: 3.5rem 5% 2.5rem;
}

.titulo,
.subtitulo {
  font-family: var(--fonte_titulo);
}

.titulo {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.subtitulo {
  font-size: 32px;
  font-weight: 500;
}

.btn {
  width: 22rem;
  height: 3.2rem;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  font-family: var(--fonte_titulo);
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.45);
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease-in-out;
}

.btnPadrao {
  color: #fff;
  background-color: var(--azul);
  border: 1px solid var(--azul);
}

.btnPadrao:hover,
.btnPadrao:focus {
  background-color: var(--azul-escuro);
  border-color: var(--azul-escuro);
}

.btnSecundario {
  color: var(--cor_fonte);
  background-color: transparent;
  border: 1px solid var(--cinza_escuro);
}

.btnSecundario:hover,
.btnSecundario:focus {
  background-color: var(--cinza_escuro);
  color: #fff;
}

.img {
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.25);
}
