.btn {
  width: 22rem;
  height: 3.2rem;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  font-family: var(--fonte_titulo);
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.45s ease-out;
}

.btn:hover,
.btn:focus {
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.45);
}

.btnPadrao {
  color: #fff;
  background-color: var(--azul);
  border: 1px solid var(--azul);
}

.btnPadrao:hover,
.btnPadrao:focus {
  background-color: var(--azul_escuro);
  border-color: var(--azul_escuro);
}

.btnSecundario {
  color: var(--cor_fonte);
  background: transparent;
  border: 1px solid var(--cinza_escuro);
}

.btnSecundario:hover,
.btnSecundario:focus {
  background-color: var(--cinza_escuro);
  color: #fff;
}

.btnNav {
  width: 180px;
  height: 35px;
  padding: 2px 0 0 18px;
  background-repeat: no-repeat;
  background-size: 1.45rem;
  background-position: 40px;
}

.botoes_controle {
  display: flex;
  justify-content: space-between;
}

.btnVoltar {
  background-image: url("../../img/icons/back-black.svg");
}

.btnVoltar:hover,
.btnVoltar:active {
  background-image: url("../../img/icons/back-white.svg");
}

.btnEditar {
  background-image: url("../../img/icons/pencil-white.svg");
}

.btnExcluir {
  color: #fff;
  background-color: var(--vermelho);
  border: 1px solid var(--vermelho);
  background-image: url("../../img/icons/trash-white.svg");
}

.btnExcluir:hover,
.btnExcluir:active {
  background-color: var(--vermelho_escuro);
  border-color: var(--vermelho_escuro);
}

/* telas até 700px */
@media screen and (max-width: 700px) {
  .botoes_controle {
    margin-bottom: 2rem;
  }
}

/* telas até 1000px */
@media screen and (max-width: 1000px) {
  .btn {
    width: 100%;
    max-width: 350px;
  }

  .btnNav {
    font-size: 15px;
    width: 100px;
    height: 32px;
    padding: 3px 0 2px 20px;
    background-size: 16px;
    background-position: 18px;
  }
}
