.btn {
  width: 22rem;
  height: 3.2rem;
  padding: 0.75rem 2rem;
  box-sizing: border-box;
  font-family: var(--fonte_titulo);
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.45);
  text-align: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s ease-in-out;
}

.btnPadrao {
  color: #fff;
  background-color: var(--azul);
  border: 1px solid var(--azul);
}

.btnPadrao:hover,
.btnPadrao:focus {
  background-color: var(--azul_escuro);
  border-color: var(--azul_escuro);
}

.btnSecundario {
  color: var(--cor_fonte);
  background-color: transparent;
  border: 1px solid var(--cinza_escuro);
}

.btnSecundario:hover,
.btnSecundario:focus {
  background-color: var(--cinza_escuro);
  color: #fff;
}

/* telas até 700px */
@media screen and (max-width: 700px) {
  .btn {
    width: 100%;
    max-width: 350px;
  }
}
