.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__div {
  display: flex;
  align-items: flex-end;
  gap: 2.5rem;
}

.btnLogin {
  font-size: 15px;
  width: 90px;
  height: 32px;
  padding: 5px;
}
