.nav__list {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  font-size: 1.2rem;
}

.nav__link {
  border-bottom: 2px solid transparent;
  outline: none;
  transition: 0.5s ease-out;
}

.nav__link--profile {
  padding-left: 25px;
  background-image: url("../../img/icons/profile-black.svg");
  background-repeat: no-repeat;
  background-size: 1.35rem;
  background-position-y: -1px;
}

.nav__link:hover,
.nav__link:focus {
  filter: brightness(90%);
  border-color: var(--azul);
}

/* telas até 700px */
@media screen and (max-width: 700px) {
  .nav__list {
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }
}
