.cadastro_projeto {
  background-color: var(--fundo_platina);
}

.cadastro_projeto__form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form__fieldset--texto:nth-last-of-type(2){
  max-width: 850px;
}
