.cadastro_projeto {
  background-color: var(--fundo_platina);
}

.cadastro_projeto__form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.form__lista_ods {
  display: inherit;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
  gap: inherit;
}

.form__fieldset--resumo,
.form__fieldset--file {
  width: 100%;
  max-width: 875px;
}

.cadastro_projeto__midia__div {
  display: grid;
  grid-template-rows: 3.2rem 2.1rem 2.25rem;
  grid-template-columns: auto;
  gap: 0.25rem;
  text-align: center;
}

.cadastro_projeto__midia-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0.5rem auto 0.25rem;
  font-weight: 500;
}

.cadastro_projeto__midia-info--valido {
  color: var(--verde);
}

.cadastro_projeto__midia-info--invalido {
  color: var(--vermelho);
}

.btnRemoverMidia {
  color: var(--vermelho);
  font-weight: 500;
  padding: 0.35rem;
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--vermelho);
  border-radius: 5px;
  margin: 0.25rem auto;
  transition: 0.5s ease-out;
}

.btnRemoverMidia:hover,
.btnRemoverMidia:focus {
  background-color: var(--vermelho);
  color: #fff;
}

.btnRemoverMidia--hidden {
  display: none;
}

/* telas até 700px */
@media screen
and (max-width: 700px) {
  .form__fieldset--file {
    grid-template-columns: auto;
  }
}

/* telas até 1000px */
@media screen
and (min-width: 701px)
and (max-width: 1000px) {
  .form__fieldset--file {
    grid-template-columns: repeat(2, 1fr);
  }
}
